<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2> New York City Historical Figures Database </h2>
    <ul>
      <% @figures.each do |figure| %>
        <a href='/figures/<%= figure.id %>'> <li> <%= figure.name %> </li> </a>
      <% end %>
    </ul>
    <!-- <a href='/figures/new'> Add a new figure </a> -->
    <form action="/figures/new" method="get">
      <button type="submit"> Add a New Historical Figure </button>
    </form>
    <br>
    <br>
    <a href='/landmarks'> Go to Historical Landmarks <a>


  </body>
</html>
